<%- include('partials/header'); %> 
<%- include('partials/navbar'); %>

<!-- Content -->
<div
  class="row align-items-center justify-content-center mr-0 ml-0 mt-3"
>
  <div class="container" id="content-container">
    <div class="d-flex flex-column">
      <%- include('partials/music-details/cover', {music: album}) %>
      <% if (album.orderEnabled) { %>
      <section id="order">
        <div>
          <h2 class="text-center">
            <a href="/order">Get your signed SFBA CD here!</a>
          </h2>
        </div>
      </section>
      <% } %>
      <%- include('partials/music-details/streaming-icons', {links: album.links, id: album.imgName}) %>
      <% if (album.merchEnabled) { %>
        <%- include('partials/music-details/merch') %>
      <% } %>
      <% if (album.tracklist) { %>
        <section id="tracklist">
            <div class="mt-5 mb-5">
                <h2 class="font-weight-bold text-center">Tracklist</h2>
                <% album.tracklist.forEach((track, index) => { %>
                    <h5 class="text-center">
                      <%= index+1 %>.
                      <% if (track.youtubeLink) { %>
                      <a href="<%=track.youtubeLink%>" target="_blank" rel="noopener noreferrer">
                          <%= track.title %>
                      </a>
                      <% } else { %>
                          <%= track.title %>
                      <% } %> 
                    </h5>
                <% }) %>
            </div>
        </section>
      <% } %>
<%- include('partials/footer'); %>
