<%- include('partials/header'); %> 
<%- include('partials/navbar'); %>

<!-- Content -->
<div
  class="row align-items-center justify-content-center mr-0 ml-0 mt-3"
>
  <div class="container" id="content-container">
    <div class="d-flex flex-column">
      <%- include('partials/music-details/cover', {music: song}) %>
      <%- include('partials/music-details/streaming-icons', {links: song.links, id: song.imgName}); %>
    </div>
  </div>
</div>

<%- include('partials/footer'); %>
