<section id="cover">
    <div class="d-flex flex-column justify-content-center align-items-center mb-3">
        <h1 class="text-uppercase font-weight-bold text-center">
        <%= music.title %>
        </h1>
        <% if (music.subtitle) { %>
        <h5>
            <%=music.subtitle%>
        </h5>
        <% } %>
    </div>
    <div class="d-flex justify-content-center mb-2">
        <picture>
        <source srcset="/assets/img/<%=music.imgName%>-cover.webp" type="image/webp" />
        <source srcset="/assets/img/<%=music.imgName%>-cover.png" type="image/png" />
        <img
            id=""
            src="/assets/img/<%=music.imgName%>-cover.jpg"
            alt="<%= music.title %> Cover Art"
            class="img-fluid rounded"
        />
        </picture>
    </div>
    <div class="d-flex justify-content-center align-items-center row mt-5">
        <h2 class="text-center">
            Available now on every major streaming service
        </h2>
    </div>
</section>