<% let eventsDisplayed = 0; %>
<section class="page-section mt-3" id="events">
    <div class="container">
        <h2 class="text-center mt-0">Upcoming events</h2>
        <hr class="divider my-4" />
        <div class="row justify-content-center">
            <div class="col-9">
                <% events.forEach((event, index) => { %>
                    <% if (moment().isBefore(event.date)) { %>
                        <% eventsDisplayed++; %>
                        <div class="col-12">
                            <div class="card my-3">
                                <div class="row no-gutters">
                                    <div class="d-md-none col d-flex flex-column align-items-center justify-content-around p-3 text-white bg-primary">
                                        <div class="text-center"><h5><%= moment(event.date).format('MMMM') %></h5></div>
                                        <div class="text-center"><h5><%= moment(event.date).format('Do') %></h5></div>
                                        <div class="text-center"><h5><%= moment(event.date).format('YYYY') %></h5></div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <h5 class="card-title"><%=event.name%></h5>
                                            <h6 class="card-subtitle mb-2 text-muted"><%= moment(event.date).format('MMMM Do YYYY, h a') %></h6>
                                            <p class="card-text"><%=event.venue%>, <%=event.town%></p>
                                            <% if (event.venueLink) { %>
                                                <a href="<%=event.venueLink%>" class="card-link">Check out <%=event.venue%> here</a>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-md-3 d-none d-md-flex flex-column align-items-center justify-content-around p-3 text-white bg-primary">
                                        <div class="text-center"><h5><%= moment(event.date).format('MMMM') %></h5></div>
                                        <div class="text-center"><h5><%= moment(event.date).format('Do') %></h5></div>
                                        <div class="text-center"><h5><%= moment(event.date).format('YYYY') %></h5></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %> 
                    <% if (eventsDisplayed === 3 && events.length - index > 1) { %>
                        <div class="collapse" id="collapseEvents">
                    <% } %>
                <% }) %>
                <% if (eventsDisplayed > 3) { %>
                        </div>
                <hr class="divider my-4" />
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <button class="collapse-btn btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseEvents" aria-expanded="false" aria-controls="collapseEvents">
                    </button>
                </div>
                <% } %>
                <% if (!eventsDisplayed) { %>
                    <div class="col-9">
                        <h5 class="text-center">No event planned... yet</h5>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>